/* Input Fields */

.variant-page .form-control:active,
.variant-page .form-control:focus {
  border-radius: 5px;
  border: solid 1px #1bf29e;
  box-shadow: none;
  text-align-last:center;
  
}

.variant-page .form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 1rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 5px;
  text-align-last:center;
}

.variant-page .form-control {
  display: block;
  width: 100%;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align-last:center;
}

/* .customize-plan-card {
  overflow: hidden;
  margin: 0;
} */

@media screen and (max-width: 1430px) {
  .customize-plan-card {
    overflow: auto hidden;
    margin: 0 -44px;
    padding: 5px 20px;
    height:100%;  
  }
}

@media screen and (max-width: 767px) {
  .customize-plan-card {
    margin: 0;
    height:100%; 
    
  }
}


