.autoscroll {
    width: 100%;
    overflow-x: auto; /* Add the ability to scroll */
    overflow-y: hidden;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .autoscroll::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .autoscroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }